body {
    background-image: url('bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#he1{
    color:lightblue;
    font-size: 40px;
}
#p1{
    color:yellow;
    font-size: 18px;
}
#he2{
    color:#ff7e00;
    font-size:32px
}
#p2{
    color:#D3D3FF;
    font-size:18px
}
#egs1{
    margin-right:10px;
}
#eg1{
    height: 150px;
    width: 150px;
    background-color: #ff5500c2;
    display: inline-block;
    color:Navy;
}
#eg2{
    height: 150px;
    width: 150px;
    background-color:yellow;
    display: inline-block;
    color:Green;
}
#eg3{
    height: 150px;
    width: 150px;
    background-color:green;
    display: inline-block;
    color:#FFD700
}
#eg4{
    height: 150px;
    width: 150px;
    background-color:cyan;
    display: inline-block;
    color:red;
}
